<body>
    <div style=" padding-bottom: 17%; background-image: url(../../assets/img6.jpg);
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover; 
    width:auto;  
    height: auto;">

        <div class="container">
            <div class="d-flex">
                <div class="mx-auto" style="margin-top:220px;">
                    <h6 align="center"
                        style="font-size:xxx-large;font-style:italic;color:rgb(8, 9, 59);margin-top:20px;">
                        Welcome to Online Result System
                    </h6>
                </div>
            </div>
        </div>
    </div>
</body>